{{- define "sonic_theme_clark/tags" -}}
<!DOCTYPE html>
<html lang="zh">

<head>
    <title>标签列表 - {{ .blog_title }}</title>
    {{ template "sonic_theme_clark/module/head" . }}
</head>

{{ template "sonic_theme_clark/module/style" . }}

<style>
    .tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .tags span {
        margin: 0.5rem 0;
        padding-left: 0.5rem;
    }

    .tags span a {
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        color: var(--color);
        background-color: var(--header);
        text-decoration: none;
    }

    .tags span a:hover {
        background-color: var(--background-secondary);
    }

    .introduction-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .introduction {
        text-align: center;
    }

    .introduction .title {
        font-size: 1.8rem;
        font-weight: 700;
        margin: 0;
    }

    .introduction .subtitle {
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
        /* padding-left: 0.3rem; */
    }
</style>

<body>
    <div class="container">
        {{ template "sonic_theme_clark/module/header" .}}
        <div class="content">
            <div class="posts">
                <div class="index-content framed">
                    <div class="introduction-container">
                        <div class="introduction">
                            <h1 class="title">标签列表</h1>
                            <p class="subtitle">{{ (getTagCount) }} 个标签</p>
                        </div>
                    </div>
                </div>
                <div style="display: block;height: 1.5rem;"></div>
                <div class="tags">
                    {{ $tags:=getAllTag }}
                    {{ range $tag:=$tags }}
                    <span>
                        <a href="{{ $tag.FullPath }}">
                            #{{ $tag.Name }}（{{ $tag.PostCount }}）
                        </a>&nbsp;
                    </span>
                    {{end}}
                </div>
            </div>

            {{template "sonic_theme_clark/module/footer" .}}
        </div>
    </div>
</body>

</html>
{{ end }}