{{- define "sonic_theme_clark/module/footer" -}}
<footer class="footer">
    <div class="footer__inner">
        <a href="/" class="logo" style="text-decoration: none;">
            <span class="logo__mark"><svg xmlns="http://www.w3.org/2000/svg" class="greater-icon" viewBox="0 0 44 44">
                    <path fill="none" d="M15 8l14.729 14.382L15 35.367" />
                </svg>
            </span>
            <span class="logo__text">{{ .settings.down_left_title }}</span>
            <span class="logo__cursor"></span>
        </a>
        <div class="copyright">
            {{ noescape .settings.copyright }}
        </div>
    </div>
</footer>
{{ template "global.footer" . }}
<script type="text/javascript" src="{{ .theme_base}}/assets/main.js?version={{ .theme.Version }}"></script>

{{end}}